<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>square</key>
		<dict>
			<key>size</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
			</dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>10</integer>
				<key>y</key>
				<integer>10</integer>
			</dict>
			<key>backgroundColor</key>
			<dict>
				<key>hex</key>
				<string>ff0000</string>
				<key>alpha</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>backgroundColor</key>
		<dict>
			<key>hex</key>
			<string>708090</string>
		</dict>
		<key>label</key>
		<dict>
			<key>font</key>
			<dict>
				<key>name</key>
				<string>Avenir-Medium</string>
				<key>size</key>
				<integer>18</integer>
			</dict>
			<key>color</key>
			<dict>
				<key>hex</key>
				<string>ececec</string>
				<key>alpha</key>
				<real>0.5</real>
			</dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>62</integer>
				<key>y</key>
				<integer>191</integer>
			</dict>
			<key>sizeToFit</key>
			<true/>
		</dict>
		<key>labelFinalPosition</key>
		<dict>
			<key>x</key>
			<integer>44</integer>
			<key>y</key>
			<integer>300</integer>
		</dict>
		<key>labelAnimation</key>
		<dict>
			<key>duration</key>
			<real>0.25</real>
			<key>delay</key>
			<real>2</real>
			<key>curve</key>
			<string>easeout</string>
		</dict>
	</dict>
	<key>Example Theme</key>
	<dict>
		<key>test</key>
		<string>foo</string>
	</dict>
</dict>
</plist>
